Repository voxpupuli/puppet-jenkins, pull requests merged in 2023-09, with the labels that each got.

#1076 Allow puppetlabs/stdlib 9.x, puppetlabs/java 10.x, puppet/archive 7.x, puppet/zypprepo 5.x, puppet/systemd 6.x
  metadata.json
Labels: enhancement

#1080 Drop Ubuntu 18.04, add 20.04 and 22.04 support
  metadata.json
Labels: backwards-incompatible

#1081 Add support for EL9, document Alma/Oracle/Rocky support
  metadata.json
Labels: enhancement

#1070 modulesync 7.0.0
  .github/CONTRIBUTING.md
  .github/SECURITY.md
  .gitignore
  .msync.yml
  .pmtignore
  .rubocop.yml
  .rubocop_todo.yml
  Gemfile
  Rakefile
  lib/puppet/parser/functions/jenkins_port.rb
  lib/puppet/parser/functions/jenkins_prefix.rb
  lib/puppet/provider/jenkins_authorization_strategy/cli.rb
  lib/puppet/provider/jenkins_security_realm/cli.rb
  spec/acceptance/job_spec.rb
  spec/acceptance/plugin_spec.rb
  spec/acceptance/xtypes/jenkins_job_spec.rb
  spec/defines/jenkins_credentials_spec.rb
  spec/spec_helper.rb
  spec/unit/puppet/x/jenkins/config_spec.rb
  spec/unit/puppet/x/spec_jenkins_providers.rb
Labels: modulesync

#1082 Release 4.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
