Repository voxpupuli/puppet-jenkins, pull requests merged in 2024-04, with the labels that each got.

#1094 Add support for puppetlabs/java 11.x
  metadata.json
Labels: enhancement

#1096 fixtures.yml: remove puppet version contraint
  .fixtures.yml
Labels: skip-changelog

#1085 modulesync 7.4.0
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  .msync.yml
  .pmtignore
  Dockerfile
  Gemfile
  spec/acceptance/hieradata/family/RedHat.yaml
Labels: modulesync

#904 Use native Puppet instead of the retries Gem in the CLI provider, replacing try_sleep parameter by exponential backoff
  .sync.yml
  Gemfile
  NATIVE_TYPES_AND_PROVIDERS.md
  lib/puppet/feature/retries.rb
  lib/puppet/x/jenkins/config.rb
  lib/puppet/x/jenkins/provider/cli.rb
  manifests/cli/config.pp
  spec/classes/cli/config_spec.rb
  spec/unit/puppet/x/jenkins/config_spec.rb
  spec/unit/puppet/x/jenkins/provider/cli_spec.rb
  spec/unit/puppet/x/spec_jenkins_providers.rb
Labels: backwards-incompatible

#1095 Add support for Puppet 8
  metadata.json
Labels: enhancement

#1101 modulesync 7.5.0
  .msync.yml
Labels: modulesync

#1102 update puppet-systemd upper bound to 8.0.0
  metadata.json
Labels: enhancement
