Repository voxpupuli/puppet-jenkins, pull requests merged in 2025-01, with the labels that each got.

#1116 Support puppetlabs/apt 10.x; require >= 9.2
  manifests/repo/debian.pp
  metadata.json
Labels: enhancement

#1112 Drop EoL EL7 support
  manifests/plugin.pp
  metadata.json
Labels: backwards-incompatible

#1117 Add support for Debian 12
  metadata.json
Labels: enhancement

#1118 Add support for Ubuntu 24.04
  metadata.json
Labels: enhancement

#1119 Drop support for Ubuntu 20.04
  metadata.json
Labels: backwards-incompatible

#1120 Release 6.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
